* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fcf7f1;
}
.nav {
  align-items: center;
  display: flex;
  max-width: 1000px;
  width: 90vw;
  margin-left: 150px;
  margin-top: 12px;
}
.imgNav {
  height: 2rem;
}
.name {
  color: #363430;
  font-family: Nunito, sans-serif;
  font-size: 1.8rem;
  font-weight: 550;
  text-decoration: none;
  cursor: pointer;
}
.options ul {
  align-items: center;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  list-style: none;
  font-size: 23px;
  margin-top: 8px;
  margin-right: 170px;
}

.mainNav {
  display: flex;
  color: #fdfaf7;
  margin-bottom: 70px;
}
.options ul li {
  color: #252422;
  cursor: pointer;
}

.options {
  display: none;
}
.hamb {
  color: black;
  display: none;
  cursor: pointer;
}

.aside {
  width: 70%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
}
.asideUl {
  color: #807f7f;
  font-size: 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 150px;
  cursor: pointer;
}
@media screen and (max-width: 1080px) {
  .nav {
    margin-left: 10px;
  }
  .options ul {
    margin-right: 20px;
  }
}
@media screen and (min-width: 799px) {
  .options {
    display: flex;
  }
}
@media screen and (min-width: 799px) {
  .options {
    display: flex;
  }
}
@media screen and (max-width: 799px) {
  .hamb {
    display: block;
    color: black;
    font-size: 35px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 799px) {
  .nav {
    margin-left: 0;
  }
  .imgNav {
    margin-left: 10px;
  }
  .options {
    display: none;
  }
}
@media screen and (max-width: 799px) {
  .mainNav {
    margin-bottom: 20px;
  }
  .aside {
    width: 55%;
  }
}
@media screen and (max-width: 799px) {
  .hamb {
    display: block;
    color: black;
    font-size: 35px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 799px) {
  .nav {
    margin-left: 0;
  }
  .imgNav {
    margin-left: 10px;
  }
  .options {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .name {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .name {
    font-size: 20px;
  }
  .imgNav {
    width: 50px;
  }
  .hamb {
    font-size: 30px;
    margin-top: 10px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 370px) {
  .name {
    font-size: 15px;
  }
}

@media screen and (max-width: 300px) {
  .imgNav {
    width: 20px;
    height: 25px;
  }
  .hamb {
    margin-right: 4px;
  }
}
@media screen and (max-width: 230px) {
  .imgNav {
    width: 30px;
  }
  .name {
    font-size: 10px;
  }
}
