* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fcf7f1;
}
.nav {
  align-items: center;
  display: flex;
  max-width: 1200px;
  width: 90vw;
  margin-left: 130px;
  margin-top: 12px;
}
.imgNav {
  height: 2rem;
}
.name {
  color: #363430;
  font-family: Nunito, sans-serif;
  font-size: 1.8rem;
  font-weight: 550;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0;
}
.options ul {
  align-items: center;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  list-style: none;
  font-size: 23px;
  margin-top: 8px;
  margin-right: 10px;
}

.mainNav {
  display: flex;
  color: #fdfaf7;
  margin-bottom: 70px;
  gap: 70px;
}

.fixedNav {
  position: fixed;
  justify-content: space-around;
  align-items: normal;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: hsla(0, 0%, 100%, 0.4);
  display: flex;
  height: 9vh;
  position: fixed;
  width: 100%;
  z-index: 400;
  top: 0px;
}
.options ul a {
  color: #252422;
  cursor: pointer;
  text-decoration: none;
}
.options ul li a:hover {
  color: red;
  transition-duration: 10.1s;
}
.options {
  display: none;
}
.hamb {
  color: black;
  display: none;
  cursor: pointer;
}

.aside {
  width: 70%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
}
.asideUl {
  color: #807f7f;
  font-size: 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 150px;
  cursor: pointer;
}
.asideUl li a {
  color: #252422;
  text-decoration: none;
}
@media screen and (max-width: 1080px) {
  .nav {
    margin-left: 10px;
  }
  .options ul {
    margin-right: 20px;
  }
}
@media screen and (min-width: 799px) {
  .options {
    display: flex;
    margin-top: 6px;
  }
}

@media screen and (max-width: 799px) {
  .hamb {
    display: block;
    color: black;
    font-size: 35px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 799px) {
  .nav {
    margin-left: 0;
  }
  .imgNav {
    margin-left: 10px;
  }
  .options {
    display: none;
  }
}
@media screen and (max-width: 799px) {
  .mainNav {
    margin-bottom: 20px;
  }
  .aside {
    width: 55%;
  }
}
@media screen and (max-width: 849px) {
  .hamb {
    display: block;
    color: black;
    font-size: 35px;
    margin-top: 0px;
    margin-left: 170px;
  }
}
@media screen and (max-width: 799px) {
  .nav {
    margin-left: 0;
  }
  .imgNav {
    margin-left: 10px;
  }
  .options {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .options {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .name {
    font-size: 15px;
  }
  .hamb {
    margin-left: auto;
  }
}
@media screen and (max-width: 500px) {
  .name {
    font-size: 20px;
  }
  .imgNav {
    width: 50px;
  }
  .hamb {
    font-size: 30px;
    margin-top: 0px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 300px) {
  .imgNav {
    width: 20px;
    height: 25px;
  }
  .hamb {
    margin-right: 4px;
  }
}
@media screen and (max-width: 230px) {
  .imgNav {
    width: 30px;
  }
  .name {
    font-size: 10px;
  }
}
@media screen and (min-width: 850px) {
  .aside {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .nav {
    margin-right: -510px;
    margin-top: 30px;
  }
  .options {
    margin-top: 20px;
    margin-right: 120px;
  }
}

@media screen and (max-width: 1050px) {
  .nav {
    margin-right: -200px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 1099px) {
  .nav {
    width: 550px;
    margin-top: 15px;
  }
  .mainNav {
    margin-top: 14px;
  }
}

@media screen and (max-width: 485px) {
  .hamb {
    margin-right: 70px;
    margin-left: 80px;
  }
  .nav {
    margin-right: -300px;
  }
}
@media screen and (max-width: 369px) {
  .nav {
    margin-right: -320px;
  }
}

@media screen and (max-width: 460px) {
  .name {
    font-size: 15px;
  }
  .nav {
    margin-right: -400px;
  }
  .hamb {
    margin-left: 160px;
  }
}
@media screen and (max-width: 430px) {
  .hamb {
    margin-left: 100px;
  }
}
@media screen and (max-width: 370px) {
  .hamb {
    margin-left: 70px;
  }
}
@media screen and (max-width: 340px) {
  .hamb {
    margin-left: 50px;
  }
}
@media screen and (max-width: 320px) {
  .hamb {
    margin-left: 40px;
  }
}
@media screen and (max-width: 300px) {
  .hamb {
    margin-left: 30px;
  }
}
