.h4 {
  font-family: inherit;
  font-size: 40px;
  margin-bottom: 18px;
  color: #363532;
  font-weight: bold;
}

.text {
  color: #fcf7f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
  padding-top: 13vh;
  width: 50vw;
}
.passionate {
  background-color: #eb5e28;
  color: #fff;
  font-family: inherit;
  font-size: 27px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0.1rem;
  padding: 0 6px;
  position: absolute;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  z-index: -9;
}
.pPas {
  padding-left: 11rem;
  position: relative;
}
.software {
  font-family: inherit;
  font-size: 21px;
  color: #333230;
}
.imgPer {
  border-radius: 999rem;
  z-index: -9;
  width: 220px;
  margin-top: 20px;
  margin-left: 0px;
}

.firstpage {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  max-width: 1000px;
  width: 50vw;
}

@media screen and (max-width: 750px) {
  .firstpage {
    flex-direction: column-reverse;
    margin: 0;
  }
  .passionate {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  .h4 {
    font-size: 17px;
  }
  .software {
    font-size: 17px;
  }
}
@media screen and (max-width: 300px) {
  .h4 {
    font-size: 12px;
  }
  .software {
    font-size: 13px;
  }
  .imgPer {
    margin-left: 30px;
  }
}
@media screen and (max-width: 794px) {
  .imgPer {
    width: 200px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .h4 {
    font-size: 32px;
  }
}
@media screen and (max-width: 750px) {
  .imgPer {
    width: 100px;
    margin-left: 300px;
  }
  .text {
    padding: 0;
  }
  .h4 {
    margin-left: 200px;
    font-size: 20px;
  }
}

.App {
  max-width: 1500px;
  margin: auto;
}
