.h4 {
  font-family: inherit;
  font-size: 35px;
  margin-bottom: 18px;
  color: #363532;
  font-weight: bold;
  width: 300px;
}

.text {
  color: #fcf7f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  width: 35vw;
  margin-left: 0px;
}
.passionate {
  background-color: #eb5e28;
  color: #fff;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0.1rem;
  padding: 0 6px;
  position: absolute;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  z-index: -9;
}
.pPas {
  padding-left: 9rem;
  position: relative;
}
.software {
  font-family: inherit;
  font-size: 27px;
  color: #333230;
  margin-left: 32px;
  width: 260px;
  display: block;
}
.imgPer {
  border-radius: 999rem;
  z-index: -9;
  width: 220px;
  margin-left: 0px;
}

.firstpage {
  display: flex;
  justify-content: center;
  margin-left: 170px;
  margin-top: 100px;
  max-width: 1000px;
  width: 50vw;
}

@media screen and (max-width: 794px) {
  .imgPer {
    width: 200px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .h4 {
    font-size: 32px;
  }
}
@media screen and (max-width: 751px) {
  .imgPer {
    width: 120px;
    margin-left: 300px;
    margin-top: 100px;
  }
  .text {
    padding: 0;
  }
  .h4 {
    margin-left: 175px;
    font-size: 26px;
    width: 215px;
  }
  .firstpage {
    flex-direction: column-reverse;
    margin: 0;
  }
  .passionate {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .software {
    margin-bottom: 20px;
  }
}
.App {
  max-width: 1500px;
  margin: auto;
}
@media screen and (min-width: 1115px) {
  .software {
    width: 256px;
  }
}
@media screen and (max-width: 1115px) {
  .software {
    width: 156px;
    font-size: 20px;
  }
}
@media screen and (max-width: 640px) {
  .h4 {
    font-size: 22px;
    margin-left: 175px;
  }
}
@media screen and (max-width: 630px) {
  .imgPer {
    margin-left: 200px;
  }
}
@media screen and (max-width: 490px) {
  .imgPer {
    margin-left: 120px;
  }
  .h4 {
    margin-left: 10px;
  }
  .software {
    margin-left: 10px;
  }
  .pPas {
    padding-left: 0;
  }
}
@media screen and (max-width: 250px) {
  .imgPer {
    margin-left: 0px;
  }
  .h4 {
    font-size: 12px;
  }
  .software {
    font-size: 13px;
    font-weight: bold;
  }
}

.telepaty {
  font-size: 20px;
  color: #403d39;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}
.telepaty a {
  color: #eb5e28;
  text-decoration: none;
}
.description {
  line-height: 30px;
}
.description p {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: #403d39;
  margin: auto;
  width: 360px;
}
@media screen and (max-width: 750px) {
  .telepaty {
    font-size: 15px;
    margin-left: 140px;
  }
  .description p {
    font-size: 15px;
    width: 290px;
    margin-left: 140px;
  }
}
@media screen and (min-width: 760px) {
  .description p {
    margin-left: 190px;
    font-size: 18px;
    width: 550px;
  }
}
@media screen and (min-width: 1200px) {
  .description p {
    font-size: 1.2rem;
    margin-left: 25%;
  }
}
@media screen and (max-width: 490px) {
  .description p {
    margin-left: 6%;
  }
  .telepaty {
    margin-left: 6%;
    width: 333px;
    margin-top: 20px;
  }
  .software {
    font-size: 25px;
    width: 285px;
  }
}

@media screen and (max-width: 750px) {
  .software {
    width: 233px;
  }
}
@media screen and (min-width: 830px) {
  .description p {
    width: 50%;
    margin-left: auto;
    font-size: 20px;
  }
}

@media screen and (min-width: 1230px) {
  .description p {
    margin-left: 340px;
  }
}
@media screen and (max-width: 760px) {
  .telepaty {
    width: 49%;
  }
}
@media screen and (max-width: 330px) {
  .telepaty {
    width: 89%;
    margin-right: 0;
  }
  .description p {
    width: 220px;
    margin-right: 0;
  }
  .imgPer {
    margin-left: 80px;
  }
}
@media screen and (min-width: 1110px) {
  .imgPer {
    margin-left: 100px;
  }
}
